---
layout: archive
permalink: /year-archive/
title: "Blog posts by year"
author_profile: true
sitemap: false
---

{% include base_path %}
{% capture written_year %}'None'{% endcapture %}

{% for post in site.posts %}
  {% assign is_writing_post = false %}
  {% if post.categories contains 'writing' or post.tags contains 'writing' %}
    {% assign is_writing_post = true %}
  {% endif %}

  {% unless is_writing_post %}
    {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
    {% if year != written_year %}
      <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
      {% capture written_year %}{{ year }}{% endcapture %}
    {% endif %}
    {% include archive-single.html %}
  {% endunless %}
{% endfor %}
